.container
  width: 750px
  margin: 10px auto
  border: 2px solid #fff

  .logotype a
    display: block
    width: 750px
    height: 200px
    overflow: hidden
    text-indent: -999em
    background: transparent image_url('logotype.png') no-repeat center center

.content_wrapper
  +clearfix
  background-color: #fff
  padding: 15px

  .side
    width: 175px
    float: left

    .menu
      font-size: 16px

      li
        margin-bottom: 5px

      ul > li > ul
        margin-top: 5px

    .banners
      border-top: 1px solid #ccc
      margin: 15px 0 10px
      padding-top: 10px

      li
        margin-bottom: 10px

  .content
    margin-left: 195px

.footer
  text-align: center
  border-top: 1px solid #ccc
  padding-top: 10px
